<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
            <img src="/images/logo4.png" width="150" height="120" alt="mohit logo">
        		<li><a href="/">Home</a></li>
  	        <li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/documents">Documents</a></li>
            <li><a href="/quickLinks">Quick Links</a></li>
            <li><a href="/blog">Blog</a></li><br>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
            <li><a href="mailto:mohitora@gmail.com">email</a></li>
        		<li><a href="https://github.com/mohitora">github</a></li>
            <li><a href="https://www.linkedin.com/in/mohitora/">LinkedIn</a></li>
            <li><a href="https://www.youracclaim.com/users/mohit-arora.9a825601">Badges</a></li>
            <li><a href="http://jmcglone.com/guides/github-pages/"target="_blank">CreateThisTypeOfPage</a></li>
			    </ul>
			</footer>
		</body>
	</html>
